.games-search-result {
    width: 80%;
    margin: 10px auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;
    font-size: 18px;
    background-color: black;
    color: white;
    max-width: 500px;
    border: 1px solid lightgray
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center
}


h1 {
    
    margin: 20px 0;
    font-size: 30px;
}

.games-page {
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    font-size: 20px;
    color: white;

    max-width: 500px;
    background-color: black;
    padding-bottom: 160px;

}

.games-page h1 {
    font-size: 40px
}

.game-when {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10px
}

.game-date {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.game-time {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;

}

.google-maps-wrapper {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid white;
}


.address {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px
}

.address .icon {
    font-size: 20px;
    margin-right: 15px
}

.address a {
    width: 100%;
    color: #2EC4B6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.game-street {
}

.game-city-state-zip {

}


.rsvp {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px
}

.rsvp-link {
    cursor:pointer;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px
}

.rsvp-link:hover {
    font-weight: bold
}

.rsvp-attending {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rsvp-attending button {
    width: 48%;
    background-color: white;
    color: #011627;
    border: 1px solid black
}




.showRoster {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.showRoster span {
    margin-left: 22.5px;
    font-style: italic;
    margin-bottom: 20px;

}

.hideRoster {
    display: none
}

.comments-wrapper {
    width: 100%;
}


.edit-games-btns-wrapper {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-games-btns-wrapper button {
    width: 100%;
    background-color: white;
    color: #011627;
}


.icon {
    margin-right: 10px;
    font-size: 20px;
    z-index: 0;
}

.caret-down {
    font-size: 20px;
    margin-left: 5px
}
